<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header'); %>
    <main>
      <div class="jumbotron">
        <h1>About me</h1>
        <p>Hi there, I'm Eduarda Pinheiro!</p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
